@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1F1F1F;
  color: #FFFFFF; /* Assuming white text color on the dark background */
  font-family: 'Inter', sans-serif;
}

line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

#root {
  width: 1000px;
  height: 1000px;
}